body {
	padding: 10px;
	font-family: Circularstd, sans-serif;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 8px;
	vertical-align: top;
}

.break {
	overflow-wrap: break-word;
	word-break: break-word;
}

.no-break {
    white-space: nowrap;
}

.note {
	font-size: 80%;
	font-style: italic;
}

/* ********************************** */
/* neat slider stuff **************** */
/* ********************************** */

/* the switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 23px;
}

/* hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* the slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 17px;
	width: 17px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
 	background-color: #2196F3;
}

input:focus + .slider {
 	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(17px);
	-ms-transform: translateX(17px);
	transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
 	border-radius: 23px;
}

.slider.round:before {
 	border-radius: 50%;
}

/* ********************************** */
/* neat radio button stuff ********** */
/* ********************************** */

/* hide default HTML radio button */
.niceradio input[type="radio"] {
	opacity: 0;
	width: 0;
	height: 0;
}

/* make styling for rounded "button" that will be new radio button */
.niceradio span {
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	padding: 6px 10px;
	color: white;
	border-radius: 10px;
}

/* checked buttons have colored background */
.niceradio input:checked + span {
 	background-color: #2196F3;
}









